{% extends 'application.html' %}

{% block body %}
<section class="admin">
  {% include 'admin_nav.html' %}
  <div class="right_content">
    {% include 'admin_header.html' %}

    <div class="admin_contents">
      <div class="admin_title">
        <h2>ユーザ一覧</h2>
        <table id="admin_table">
          <tr class="admin_table">
            <th>No</th>
            <th>ユーザー名</th>
            <th>メールアドレス</th>
            <th>名字</th>
            <th>名前</th>
            <th>編集</th>
          </tr>
          {% for user in users %}
            <tr class="admin_table">
              <td>{{ user.id }}</td>
              <td>{{ user.user_name }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.first_name }}</td>
              <td>{{ user.last_name }}</td>
              <td>
                {% if user.id == current_user.id %}
                  <a href="{{ url_for('views.admin') }}">
                    <img class="admin_edit_link" src="{{ url_for('static', filename='images/edit.svg') }}">
                  </a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </table>
        <ul id="admin_pagination">
          <!-- <li class="admin_pagination"><%= paginate @users %></li> -->
        </ul>
      </div>
    </div>

    {% include 'admin_footer.html' %}
  </div>
</section>
{% endblock %}